<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date_realization %><br>
    <%= f.date_field :date_realization %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type_frequency %><br>
    <%= f.text_field :type_frequency %>
  </div>

  <div class="field">
    <%= f.label :goal_id %>
    <%= f.collection_select(:goal_id, @goals, :id, :description, include_blank: true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
