<%= form_for @user, url: users_path, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :child %><br>
    <%= select("user", :child, ['Não tenho Filhos', 'Um', 'Dois', 'Três ou mais'])%>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
    <%= select("user", :gender, ['Masculino', 'Feminino'])%>
  </div>

  <div class="field">
    <%= f.label :affective_situation %><br>
    <%= select("user", :affective_situation, ['Solteiro', 'Casado', 'Viúvo'])%>
  </div>

  <div class="field">
    <%= f.label :rent %><br>
    <%= select("user", :rent, ['Abaixo de R$1000', 'Entre R$1001 e R$2000', 'Entre R$2001 e R$3000', 'Acima de R$3000'])%>
  </div>

  <div class="field">
    <%= f.label :schooling %><br>
    <%= select("user", :schooling , ['Fundamental incompleto', 'Fundamental completo ou médio incompleto', 'Médio completo', 'Superior incompleto ou cursando', 'Superior completo'])%>
  </div>

  <div class="field">
    <%= f.label :employment_situation %><br>
    <%= select("user", :employment_situation , ['Desemprego', 'Emprego em tempo integral', 'Trabalho em tempo parcial', 'Autônomo', 'Freelancer', 'Pessoa Jurídica'])%>
  </div>

  <div class="field">
    <%= f.label :religion %><br>
    <%= select("user", :religion, ['Católoca', 'Evangélica', 'Protestante', 'Ateu', 'Espírita', 'Islamismo'])%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
