<%= form_for(@temperament) do |f| %>
  <% if @temperament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temperament.errors.count, "error") %> prohibited this temperament from being saved:</h2>

      <ul>
      <% @temperament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :will_result %><br>
    <%= f.number_field :will_result %>
  </div>
  <div class="field">
    <%= f.label :wish_result %><br>
    <%= f.number_field :wish_result %>
  </div>
  <div class="field">
    <%= f.label :fury_result %><br>
    <%= f.number_field :fury_result %>
  </div>
  <div class="field">
    <%= f.label :inhibition_result %><br>
    <%= f.number_field :inhibition_result %>
  </div>
  <div class="field">
    <%= f.label :sensibility_result %><br>
    <%= f.number_field :sensibility_result %>
  </div>
  <div class="field">
    <%= f.label :coping_result %><br>
    <%= f.number_field :coping_result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
