<p id="notice"><%= notice %></p>

<h1>Listing Temperaments</h1>

<table>
  <thead>
    <tr>
      <th>Will result</th>
      <th>Wish result</th>
      <th>Fury result</th>
      <th>Inhibition result</th>
      <th>Sensibility result</th>
      <th>Coping result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temperaments.each do |temperament| %>
      <tr>
        <td><%= temperament.will_result %></td>
        <td><%= temperament.wish_result %></td>
        <td><%= temperament.fury_result %></td>
        <td><%= temperament.inhibition_result %></td>
        <td><%= temperament.sensibility_result %></td>
        <td><%= temperament.coping_result %></td>
        <td><%= link_to 'Show', temperament %></td>
        <td><%= link_to 'Edit', edit_temperament_path(temperament) %></td>
        <td><%= link_to 'Destroy', temperament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temperament', new_temperament_path %>
