<p id="notice"><%= notice %></p>

<p>
  <strong>Will result:</strong>
  <%= @temperament.will_result %>
</p>

<p>
  <strong>Wish result:</strong>
  <%= @temperament.wish_result %>
</p>

<p>
  <strong>Fury result:</strong>
  <%= @temperament.fury_result %>
</p>

<p>
  <strong>Inhibition result:</strong>
  <%= @temperament.inhibition_result %>
</p>

<p>
  <strong>Sensibility result:</strong>
  <%= @temperament.sensibility_result %>
</p>

<p>
  <strong>Coping result:</strong>
  <%= @temperament.coping_result %>
</p>

<%= link_to 'Edit', edit_temperament_path(@temperament) %> |
<%= link_to 'Back', temperaments_path %>
