<%= form_for(@wheel) do |f| %>
  <% if @wheel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wheel.errors.count, "error") %> prohibited this wheel from being saved:</h2>

      <ul>
      <% @wheel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emotional_balance %><br>
    <%= f.number_field :emotional_balance %>
  </div>
  <div class="field">
    <%= f.label :health_and_disposition %><br>
    <%= f.number_field :health_and_disposition %>
  </div>
  <div class="field">
    <%= f.label :intellectual_development %><br>
    <%= f.number_field :intellectual_development %>
  </div>
  <div class="field">
    <%= f.label :career_and_business %><br>
    <%= f.number_field :career_and_business %>
  </div>
  <div class="field">
    <%= f.label :finances %><br>
    <%= f.number_field :finances %>
  </div>
  <div class="field">
    <%= f.label :social_contribution %><br>
    <%= f.number_field :social_contribution %>
  </div>
  <div class="field">
    <%= f.label :recreation %><br>
    <%= f.number_field :recreation %>
  </div>
  <div class="field">
    <%= f.label :satisfaction_and_fullfillment %><br>
    <%= f.number_field :satisfaction_and_fullfillment %>
  </div>
  <div class="field">
    <%= f.label :spirituality %><br>
    <%= f.number_field :spirituality %>
  </div>
  <div class="field">
    <%= f.label :family %><br>
    <%= f.number_field :family %>
  </div>
  <div class="field">
    <%= f.label :relationship_with_love %><br>
    <%= f.number_field :relationship_with_love %>
  </div>
  <div class="field">
    <%= f.label :socialLife %><br>
    <%= f.number_field :socialLife %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
