<p id="notice"><%= notice %></p>

<h1>Listing Wheels</h1>

<table>
  <thead>
    <tr>
      <th>Emotional balance</th>
      <th>Health and disposition</th>
      <th>Intellectual development</th>
      <th>Career and business</th>
      <th>Finances</th>
      <th>Social contribution</th>
      <th>Recreation</th>
      <th>Satisfaction and fullfillment</th>
      <th>Spirituality</th>
      <th>Family</th>
      <th>Relationship with love</th>
      <th>Sociallife</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wheels.each do |wheel| %>
      <tr>
        <td><%= wheel.emotional_balance %></td>
        <td><%= wheel.health_and_disposition %></td>
        <td><%= wheel.intellectual_development %></td>
        <td><%= wheel.career_and_business %></td>
        <td><%= wheel.finances %></td>
        <td><%= wheel.social_contribution %></td>
        <td><%= wheel.recreation %></td>
        <td><%= wheel.satisfaction_and_fullfillment %></td>
        <td><%= wheel.spirituality %></td>
        <td><%= wheel.family %></td>
        <td><%= wheel.relationship_with_love %></td>
        <td><%= wheel.socialLife %></td>
        <td><%= link_to 'Show', wheel %></td>
        <td><%= link_to 'Edit', edit_wheel_path(wheel) %></td>
        <td><%= link_to 'Destroy', wheel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wheel', new_wheel_path %>
