<p id="notice"><%= notice %></p>

<p>
  <strong>Emotional balance:</strong>
  <%= @wheel.emotional_balance %>
</p>

<p>
  <strong>Health and disposition:</strong>
  <%= @wheel.health_and_disposition %>
</p>

<p>
  <strong>Intellectual development:</strong>
  <%= @wheel.intellectual_development %>
</p>

<p>
  <strong>Career and business:</strong>
  <%= @wheel.career_and_business %>
</p>

<p>
  <strong>Finances:</strong>
  <%= @wheel.finances %>
</p>

<p>
  <strong>Social contribution:</strong>
  <%= @wheel.social_contribution %>
</p>

<p>
  <strong>Recreation:</strong>
  <%= @wheel.recreation %>
</p>

<p>
  <strong>Satisfaction and fullfillment:</strong>
  <%= @wheel.satisfaction_and_fullfillment %>
</p>

<p>
  <strong>Spirituality:</strong>
  <%= @wheel.spirituality %>
</p>

<p>
  <strong>Family:</strong>
  <%= @wheel.family %>
</p>

<p>
  <strong>Relationship with love:</strong>
  <%= @wheel.relationship_with_love %>
</p>

<p>
  <strong>Sociallife:</strong>
  <%= @wheel.socialLife %>
</p>

<%= link_to 'Edit', edit_wheel_path(@wheel) %> |
<%= link_to 'Back', wheels_path %>
