<%= form_for(@humor) do |f| %>
  <% if @humor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@humor.errors.count, "error") %> prohibited this humor from being saved:</h2>

      <ul>
      <% @humor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
