<p id="notice"><%= notice %></p>

<h1>Listing Humors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humors.each do |humor| %>
      <tr>
        <td><%= humor.name %></td>
        <td><%= humor.date %></td>
        <td><%= link_to 'Show', humor %></td>
        <td><%= link_to 'Edit', edit_humor_path(humor) %></td>
        <td><%= link_to 'Destroy', humor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Humor', new_humor_path %>
