<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @humor.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @humor.date %>
</p>

<%= link_to 'Edit', edit_humor_path(@humor) %> |
<%= link_to 'Back', humors_path %>
