<p id="notice"><%= notice %></p>

<p>
  <td><%= image_tag @goal.image.url(:medium) %></td>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Date realization:</strong>
  <%= @goal.date_realization %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

</br>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date realization</th>
      <th>Status</th>
      <th>Type frquency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal.tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.date_realization %></td>
        <td><%= task.status %></td>
        <td><%= task.type_frequency %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>


