
<ul class ="menu">
  <lu> <%= link_to'Usuarios', users_path %> </lu>
  <lu> <%= link_to'Objetivos', goals_path %> </lu>
  <lu> <%= link_to 'Pagamentos',wheel_of_lives_path %> </lu>
  <lu> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </lu>
</ul>