<!DOCTYPE html>
<html>
<head>

  <title>PocketCoash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<% if user_signed_in?%>
	    <%= render 'layouts/menu' %>
	<% end %>


<%= yield %>

</body>
</html>
